

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client Registration</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/Favicons/C-Fav.jpg">


    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/drilldown.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/fab.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/login.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->


</head>

<body class="login-container">

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Advanced login -->
                <form action="@Url.Action("PostRegisterClient","Agent")" method="post" class="login-form">
                    <div class="panel panel-body">

                        <div style="color:@ViewBag.Color">
                            @ViewBag.Message
                        </div>
                        <div class="text-center">
                            <h5 class="content-group-lg">Client Information</h5>
                            <h6>Fill the Form to Join Chat Room of <br /><b>@ViewBag.CompanyName</b></h6>
                            <span class="small text-danger">Please Note Company Name. (Required for login)</span>
                        </div>

                        <hr />
                        <input type="hidden" name="cId" value="@ViewBag.CompanyId" />


                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Your Full Name" required name="Name">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Contact Number" required name="Contact">
                            <div class="form-control-feedback">
                                <i class="icon-phone2 text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Enter Address Here" required name="Address">
                            <div class="form-control-feedback">
                                <i class="icon-home7 text-muted"></i>
                            </div>
                        </div>


                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Email" required name="Email">
                            <div class="form-control-feedback">
                                <i class="icon-mail5 text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Password" required name="Password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>


                        <center class="form-group">

                            <button type="submit" class="btn bg-pink-400 btn-block">Register</button>
                        </center>




                        <a href="@Url.Action("Login","Auth")" class="pull-right content-group text-bold">Sign In</a>

                    </div>
                </form>
                <!-- /advanced login -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>



